---
title: Study Abroad
nav_bar_title: Abroad
nav_bar_index: 2
layout: page
blog_index: true
permalink: abroad/
---

  <a href="#" class="back-to-top">Back to Top</a>

  {% assign sorted_posts = site.categories["E-list"] | reversed %}
  <h4>E-list Updates</h4>
  <ul class="post-list">
    {% for post in sorted_posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <p>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </p>
      </li>
    {% endfor %}
  </ul>

  <div id="abroad-photos">
    <h4>Photos</h4>
    <div class="container">
      <p class="instructions"><i>You can use the arrow keys to navigate.</i></p>
      {% assign dir = '/assets/portfolio/img/fulls' %}
      {% assign static_files = (site.static_files | sort: 'name') %}
      {% for image in static_files %}
        {% if image.path contains dir %}
          {% assign path = dir | append: '/' | append: image.name %}

          {% capture image_description %}
            {% exiftag image_description,{{dir}},{{image.name}} %}
          {% endcapture %}
          {% if image_description contains '[HIGHLIGHT]' %}
            {% assign image_description = image_description | replace:'[HIGHLIGHT]',''
                                                     | strip %}
            {% assign extra_classes = 'highlight' %}
          {% else %}
            {% assign extra_classes = '' %}
          {% endif %}

          {% capture image_date %}
            {% exiftag date_time,{{dir}},{{image.name}} %}
          {% endcapture %}

          <article data-date="{{ image_date }}">
            <img src="{{ path }}" alt="{{ image_description }}">
            <p>
              <span class="post-meta">{{ image_date | date: '%-m/%-d/%y' }}</span>
              &nbsp;
              <i> {{ image_description }} </i>
            </p>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <script src="https://use.fontawesome.com/6e84e1edd3.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');

      var amountScrolled = 300;

      locked = false

      $(window).scroll(function() {
        if (! locked) {
          locked = true
          if ( $(window).scrollTop() > amountScrolled ) {
            $('a.back-to-top').fadeIn('slow');
          } else {
            $('a.back-to-top').fadeOut('slow');
          }
          locked = false
        }
      });

      $('a.back-to-top').click(function() {
        window.scrollTo(0,0)
        return false;
      });
    });
  </script>

  <script type="text/javascript">
    document.ready(function() {
      var boxTops = [];
      $('#abroad-photos article').each(function(i, el){
          boxTops.push(this.offsetTop);
      });

      $(document).keydown(function(e) {
        var dir = false,
        targetTop = -1;

        switch (e.keyCode) {
          case 37:
          case 38:
              dir = -1;
              break;
          case 39:
          case 40:
              dir = 1;
              break;
        }

        if (dir) {
            e.preventDefault();
            margin = 25;
            winTop = window.scrollY + margin;
            $.each(boxTops, function(i, v){
                if ((dir == 1 && winTop < v && targetTop < 0) ||
                    (dir == -1 && winTop > v)) {
                    targetTop = v;
                }
            });
            if (targetTop >= 0) {
                window.scrollTo(window.scrollX, targetTop - margin)
            }
        }
      });
    });
  </script>
