---
title: Blog
nav_bar_title: Blog
nav_bar_index: 2
layout: page
blog_index: true
permalink: blog/
---

  {% assign sorted_cats = site.categories | sort %}

  {% for category in sorted_cats %}
    {% assign sorted_posts = category[1] | reversed %}
    <h3 id="{{category[0] | uri_escape | downcase }}">{{category[0]}}</H2>
    <ul class="post-list">
      {% for post in sorted_posts %}
        <li>
          <p>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

