---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

#home > h2 {
  margin-top: 40px;
}

#profile {
  display: block;
  margin: auto;
  width: 20%;
  margin-bottom: 20px;
}

.page-content a {
  text-decoration: underline;
}

.post img {
  display: block;
  margin: auto;
  max-width:40%;
  max-height:40%;
}

.post-list {
  margin-left: 1em;
}

.post-link {
  font-size: 18px;
}

.post-list > li {
  margin-bottom: 10px;
}

.rss-subscribe {
    margin-top: 50px;
}

#abroad-background {
    margin-bottom: 2em;
    text-align: justify;
    text-justify: inter-word;
}

#abroad-photos {

    ul {
        list-style-type: none;
    }

    div.container {
        margin-left: 1em;
    }

    h4 {
        margin-top: 3em;
    }

    p.instructions {
        margin-top: 1em;
    }

    #photos {
        margin-top: 2em;
    }

    @media all and (max-width: 800px) {
        p.instructions {
            display: none !important;
        }
    }

    img {
        max-width: 80%;
        max-height: 80%;
        border: 1px;
        border-style: solid;
        border-color: lightgray;
    }

    li {
        margin-bottom: 5em;
        border: 2px;
        border-style: solid;
        border-color: lightgray;
        padding: 1em;

    }
        li.focused {
            border-color: darkgray;
        }

    p {
        margin-top: 1em;
    }

    .wait-for-images {
        display: none; /* start off hidden unless photos are slow to load */
    }

    #buttons div {
        display: inline-block;
    }

    .geo-link {
        text-decoration: none;

        .post-meta {
            text-decoration: underline;
        }
    }
}

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}

a.back-to-top {
    display: none;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #27AE61 url("/assets/up-arrow.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.button-style, button {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
}

.select-style {
    background: #fafafa url("/assets/downward-triangle.png") no-repeat 90% 55%;
    background-size: 9%;
}

button {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.button-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.button-style select:focus {
    outline: none;
}

.nowrap {
    white-space: nowrap;
}
